# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

models/
venv/

.DS_Store

*.exe

# Native dynamic libraries
*.dylib
*.dll
*.so

# Native static libraries
*.a
*.lib

# Native object files
*.o
*.obj

# Debug symbols / debug builds
*.pdb
*.dSYM/

# CUDA
*.exp
*.ilk
*.manifest

